<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="../CSS/styles.css" type="text/css">
    
  </head>
  <body>
    
    <header>
      <div>
        <a href="/"><img src="../resources/img/habbo.svg" alt="habbo" width="10%" height="10%"></a>
      </div>
    </header>
    <div id="div_interfaz">
      <form action="/registrar_cliente" method="post">
        <h1>Registrar Cliente</h1>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" required = true />

        <br />
        <br />

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" required = true/>

        <br />
        <br />

        <label for="telefono">Telefono</label>
        <input
          type="tel"
          name="telefono"
          id="phone"
          pattern="^[0-9]{5,10}$"
          placeholder=" xxx-xxx-xxx-x"
          required = true
        />

        <br />
        <br />

        <label for="email">Email</label>
        <input type="email" name="email" required = true />

        <br />
        <br />

        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" required = true />

        <br />
        <br />

        <label for="pais">Pais</label>

        <input
          type="text"
          name="pais"
          list="paises-list"
          placeholder="   Elige tu Pais"
          required = true
        />

        <datalist id="paises-list">
          <option value="Bolivia"></option>
          <option value="Peru"></option>
        </datalist>

        <br />
        <br />
        <input type="submit" />

      </form>

      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>cliente_id</td>
              <td>nombre</td>
              <td>apellido</td>
              <td>telefono</td>
              <td>email</td>
              <td>direccion</td>
              <td> pais</td>
            </tr>
          </thead>
          <tbody>
            <% if (date_clientes) { %>
              <% for(var i = 0; i < date_clientes.length; i++) { %>
                <tr>
                  <td><%= date_clientes[i].cliente_id %></td>
                  <td><%= date_clientes[i].nombre %></td>
                  <td><%= date_clientes[i].apellido_paterno %></td>
                  <td><%= date_clientes[i].telefono %></td>
                  <td><%= date_clientes[i].email %></td>
                  <td><%= date_clientes[i].direccion %></td>
                  <td><%= date_clientes[i].pais %></td>
                  <td><a href="/delete/<%= date_clientes[i].cliente_id %>">Delete</a></td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div class="card-body">
    </div>

  </body>
</html>


